/* .row {
  border: 1px solid black;
} */
* {
  box-sizing: border-box;
}

div#about {
  margin-top: 3em;
  text-align: center;
  margin-bottom: 0.025em;
}

section#about {
  margin-top: 80px;
  min-height: 100vh;
  background-color: #b5838d;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#projects {
  /* margin-top: 80px; */
  min-height: 100vh;
  background-color: #e5989b;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#skills {
  /* margin-top: 80px; */
  min-height: 100vh;
  background-color: #b5838d;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#experience {
  /* margin-top: 80px; */
  min-height: 100vh;
  background-color: #e5989b;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#contacts {
  /* margin-top: 80px; */
  min-height: 100vh;
  background-color: #b5838d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience img {
  height: 110px;
  width: 110px;
}


/* hover overlay */
.project {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.8;
  color: white;
  font-size: bold;
  text-align: center;
}

.project:hover .overlay {
  width: 100%;
}

#experience img {
 max-width: 100%;
 width: 60%;
  /* height: 100%; */
  object-fit: contain;
}