
*{
	margin: 0 auto;
	text-align: center;
}
.forget{
	margin-top: 25px;
}
#logo{
	margin-right: auto;
}

#login{
	background-color: #DD4E4D;
	margin-top: 25px;
	height: 50px;
	border-radius: 50px;
	font-size: 30px;
	color: white;
}
input{
	
margin-top: 25px;
height: 50px;


}
#mobile{
	height: 50px;
	border-radius: 50px;
	font-size: 30px
}

h1{
	color:#DD4E4D;
}
a{
	margin-top: 25px;
}